<div class="ht-footer">
    <div class="ht-forum">
          <footer class="container-fluid w-100 pt-3">
    <section>
      <div class="footer" id="footer">
        <div class="container">
          <div class="row">


            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
              <h3> <a class='header-link link-unstyled' href="http://localhost:3000/hearing-aids">Hearing Aids</a> </h3>
              <ul>
                <li> <a href="http://localhost:3000/best-hearing-aids"> Best Hearing Aids </a> </li>
                <li> <a href="http://localhost:3000/hearing-aids/directory"> Hearing Aid Directory </a> </li>
                <li><a href="http://localhost:3000/hearing-aids/compare">Hearing Aid Comparison</a></li>
                <li> <a href="http://localhost:3000/how-much-do-hearing-aids-cost" title='Hearing Aid Prices'> Hearing Aid Prices </a> </li>
                <li> <a href="http://localhost:3000/hearing-aids/deals"> Hearing Aid Deals </a> </li>
                <li><a href="http://localhost:3000/hearing-aid-insurance-coverage">Paying with Insurance</a></li>
                <li><a href="http://localhost:3000/bluetooth-hearing-aids">Bluetooth Hearing Aids</a></li>
                <li><a title="Rechargeable hearing aids" href="http://localhost:3000/rechargeable-hearing-aids">Rechargeables</a></li>
              </ul>

            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
              <h3>Popular Brands </h3>
              <ul>
                <li><a href="http://localhost:3000/hearing-aids/widex">Widex hearing aids</a></li>
                <li><a href="http://localhost:3000/hearing-aids/phonak">Phonak hearing aids</a></li>
                <li><a href="http://localhost:3000/hearing-aids/signia">Signia hearing aids</a></li>
                <li><a href="http://localhost:3000/hearing-aids/beltone">Beltone hearing aids</a></li>
                <li><a href="http://localhost:3000/hearing-aids/oticon">Oticon hearing aids</a></li>
                <li><a href="http://localhost:3000/hearing-aids/resound">ReSound hearing aids</a></li>
                <li><a href="http://localhost:3000/hearing-aids/starkey">Starkey hearing aids</a></li>
                <li><a href="http://localhost:3000/hearing-aids/unitron">Unitron hearing aids</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
              <h3> Hearing Centers </h3>
              <ul>
                <li> <a href="http://localhost:3000/hearing-aids/near-me" title='Hearing Aids Near Me'> Hearing Center Map </a> </li>
                
<li><a title="Hearing Aids in the United States" class="" href="http://localhost:3000/hearing-aids/usa">United States</a></li><li><a title="Hearing Aids in Australia" class="" href="http://localhost:3000/hearing-aids/australia">Australia</a></li><li><a title="Hearing Aids in Canada" class="" href="http://localhost:3000/hearing-aids/canada">Canada</a></li><li><a title="Hearing Aids in Ireland" class="" href="http://localhost:3000/hearing-aids/ireland">Ireland</a></li><li><a title="Hearing Aids in South Africa" class="" href="http://localhost:3000/hearing-aids/south-africa">South Africa</a></li><li><a title="Hearing Aids in New Zealand" class="" href="http://localhost:3000/hearing-aids/new-zealand">New Zealand</a></li><li><a title="Hearing Aids in the United Kingdom" class="" href="http://localhost:3000/hearing-aids/united-kingdom">United Kingdom</a></li>

              </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
              <h3> Other Sections </h3>
              <ul>
                <li> <a href="http://localhost:3000/ask"> Expert Answers</a> </li>
                <li> <a href="http://localhost:3000/blog"> Hearing Aid Blog</a> </li>
                <li> <a href="http://localhost:3000/news"> Hearing Aid News</a> </li>
                <li> <a href="https://forum.hearingtracker.com/"> Hearing Aid Forum</a> </li>
                <li> <a href="https://shop.hearingtracker.com/"> Hearing Aid Batteries</a> </li>
                <li><a href="http://localhost:3000/direct-to-consumer-hearing-aids">Direct To Consumer Aids</a></li>
                <li><a href="http://localhost:3000/bone-anchored-hearing-aids">Bone-Anchored Aids</a></li>
                <li><a href="http://localhost:3000/amplifiers">Personal Amplifiers</a></li>
                <li><a href="http://localhost:3000/cochlear-implants">Cochlear Implants</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
              <h3> Other Info </h3>
              <ul class='mb-2'>
                <li> <a href="http://localhost:3000/about"> About the Team</a> </li>
                <li> <a href="http://localhost:3000/pro-news"> Professional News </a> </li>
                <li> <a href="http://localhost:3000/hearing-test"> Online Hearing Test </a> </li>
                <li> <a href="http://localhost:3000/terms"> Terms and Conditions </a> </li>
                <li> <a href="http://localhost:3000/privacy"> Privacy Policy </a> </li>
                <li> <a href="http://localhost:3000/press-releases" rel='nofollow'> Press Releases </a> </li>
                <li> <a href="http://localhost:3000/hearing-loss"> Hearing Loss </a> </li>
                <li> <a href="http://localhost:3000/tinnitus"> Tinnitus </a> </li>
                <li> <a href="http://localhost:3000/services"> Services </a> </li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-24 col-sm-24 col-xs-12">
              <h3> News and Social </h3>

              <div class="input-append text-center mt-3">
                <button class="openSubscribe btn btn-info btn-block">Subscribe <i class="fas fa-long-arrow-alt-right"></i></button>
              </div>

              <div class='ht-social-links mt-2'>
                <a target='_blank' rel="noopener noreferrer" href="http://facebook.com/hearingtracker">
                  <i class="fa fa-facebook"></i>
                </a>
                <a target='_blank' rel="noopener noreferrer" href="http://twitter.com/hearingtracker">
                  <i class="fa fa-twitter"></i>
                </a>
                <a target='_blank' rel="noopener noreferrer" href="http://www.linkedin.com/company/hearing-tracker">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a target='_blank' rel="noopener noreferrer" href="http://www.youtube.com/user/hearingtracker">
                  <i class="fa fa-youtube-play"></i>
                </a>
                <a target='_blank' rel="noopener noreferrer" href="mailto:info@hearingtracker.com">
                  <i class="fa fa-mail"></i>
                </a>
              </div>

            </div>

          </div>
          <!--/.row-->
        </div>
        <!--/.container-->
      </div>
    <!--/.footer-->

      <div class="footer-bottom">
        <div class="container">
          <p style='font-size:13px; color: #777777;' class='py-1 my-0'>© 2020 Hearing Tracker. All rights reserved. Hearing Tracker® is a registered trademark of Hearing Tracker, Inc</p>
        </div>
      </div>
      <!--/.footer-bottom-->
    </section>
  </footer>

    </div>
</div>