<div id="ht-styles">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" media="screen"
        href="https://staging.hearingtracker.com/assets/bs4/page_specific/forum-8d2c834c0aa16b3460411a6dad24216d33be4819171a565f4a77385c5283f3a7.css" />
</div>

<div class="ht-header">
    <div class="ht-forum">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary d-none d-md-block">

            <div class='container'>
                <a class="navbar-brand" href="https://staging.hearingtracker.com/">
                    HEARINGTRACKER.COM
                </a>
                <div class='float-right top-nav-menu'>
                    <a href="https://staging.hearingtracker.com/users/sign_in">SIGN IN</a>
                    <a href="https://staging.hearingtracker.com/users/sign_up">SIGN UP</a>
                </div>

            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info" style=' font-size:14px'>

            <div class='container'>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle forum-first-nav-link" href="#" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Hearing aids
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://staging.hearingtracker.com/hearing-aids">Hearing
                                    Aids</a>
                                <a class="dropdown-item"
                                    href="https://staging.hearingtracker.com/best-hearing-aids">Best Hearing Aids</a>
                                <a class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/directory">Hearing Aid
                                    Directory</a>
                                <a class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/near-me">Hearing Aids Near
                                    Me</a>
                                <a class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/deals">Hearing Aid Deals <span
                                        style='padding: 0.3em 0.4em; margin-left: 5px;'
                                        class='badge badge-success'>New</span></a>
                                <a class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/compare">Compare Hearing
                                    Aids</a>
                                <a class="dropdown-item"
                                    href="https://staging.hearingtracker.com/how-much-do-hearing-aids-cost">Hearing Aid
                                    Prices</a>
                                <a title="Best hearing aids for me" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/personalized-match-results">Help
                                    Me Choose <span style='padding: 0.3em 0.4em; margin-left: 5px;'
                                        class='badge badge-warning'>Beta</span></a>
                                <a title="Paying for Hearing Aids With Medical Insurance" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aid-insurance-coverage">Paying with
                                    Health Insurance</a>
                                <a title="OTC Hearing Aids" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/over-the-counter-hearing-aids">Over The
                                    Counter Hearing Aids</a>
                                <a class="dropdown-item"
                                    href="https://staging.hearingtracker.com/direct-to-consumer-hearing-aids">Direct To
                                    Consumer Hearing Aids</a>
                                <a title="PSAPS" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/amplifiers">Personal Sound Amplifiers</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Hearing centers
                            </a>
                            <div class="dropdown-menu">
                                <a title="Hearing Aids Near Me" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/near-me">Near Me <span
                                        style='padding: 0.3em 0.4em; margin-left: 5px;'
                                        class='badge badge-success'>New</span></a>

                                <a title="Hearing Aids in the United States" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/usa">United States</a><a
                                    title="Hearing Aids in Australia" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/australia">Australia</a><a
                                    title="Hearing Aids in Canada" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/canada">Canada</a><a
                                    title="Hearing Aids in Ireland" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/ireland">Ireland</a><a
                                    title="Hearing Aids in South Africa" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/south-africa">South
                                    Africa</a><a title="Hearing Aids in New Zealand" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/new-zealand">New Zealand</a><a
                                    title="Hearing Aids in the United Kingdom" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/hearing-aids/united-kingdom">United
                                    Kingdom</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Resources
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://staging.hearingtracker.com/hearing-test">Online
                                    Hearing Test <span style='padding: 0.3em 0.4em; margin-left: 5px;'
                                        class='badge badge-success'>New</span></a>
                                <a class="dropdown-item" href="https://staging.hearingtracker.com/ask">Expert
                                    Answers</a>
                                <a title="Hearing Aid News" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/news">Hearing News</a>
                                <a class="dropdown-item" href="https://staging.hearingtracker.com/hearing-loss">Hearing
                                    Loss</a>
                                <a title="Hearing Aid News" class="dropdown-item"
                                    href="https://staging.hearingtracker.com/pro-news">Pro News</a>
                                <a class="dropdown-item" href="https://staging.hearingtracker.com/tinnitus">Tinnitus</a>
                                <a class="dropdown-item" href="https://staging.hearingtracker.com/dr-cliff-aud">Dr
                                    Cliff, AuD</a>
                                <a class="dropdown-item" href="https://staging.hearingtracker.com/blog">Hearing Blog</a>
                                <a class="dropdown-item" href="https://staging.hearingtracker.com/about">About</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Forum
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://staging.hearingtracker.com/audios">My Hearing
                                    Tests</a>
                                <a class="dropdown-item" target="_blank" rel="noopener noreferrer"
                                    href="https://www.facebook.com/groups/hearingaidforum/">Facebook Group</a>
                            </div>
                        </li>
                        <li class="nav-item"><a title="Hearing Aid Battery Shop" class="nav-link"
                                href="https://shop.hearingtracker.com/">Shop</a>
                        </li>
                        <li class="nav-item d-block d-lg-none"><a class="nav-link"
                                href="https://staging.hearingtracker.com/users/sign_in">SIGN IN</a></li>
                    </ul>
                    <div class='ml-auto'>
                        <form class="form-inline my-2 my-lg-0" style="padding-right:0;" role="search"
                            action="https://staging.hearingtracker.com/search" accept-charset="UTF-8" method="get">
                            <input name="utf8" type="hidden" value="&#x2713;" />
                            <div class="input-group">
                                <input type="text" name="q" id="q" value="" placeholder="Search"
                                    data-behavior="autocomplete" class="form-control search-input" autocomplete="off" />
                                <div class="input-group-append">
                                    <button id="global_search" class="btn btn-light" type="submit"
                                        style='border:1px solid #ced4da;'><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="bg-dark text-white py-1 sticky-top" id='cta-bar'>
            <div class='container'>
                <p class='text-center w-100 mb-0'>
                    <b><a class="ahoy link-unstyled" data-event-category="cta_bar-view_deals"
                            data-event-label="forum - forum_header"
                            href="https://staging.hearingtracker.com/hearing-aids/deals?utm_source=ht&amp;utm_medium=cta_bar&amp;utm_campaign=deals">Find
                            nearby hearing aid deals</a></b><span
                        style="padding: 0.3em 0.4em; margin-left: 6px; position:absolute; top:8px;"
                        class="badge badge-success">New</span>
                </p>
            </div>
        </nav>

    </div>
</div>